@mixin hover-colorize-text
    -webkit-animation: hover-text 0.2s ease-out
    -o-animation: hover-text 0.2s ease-out
    animation: hover-text 0.2s ease-out
    animation-fill-mode: forwards

@mixin hover-colorize-picture
    -webkit-animation: hover-picture 0.2s ease-out
    -o-animation: hover-picture 0.2s ease-out
    animation: hover-picture 0.2s ease-out
    animation-fill-mode: forwards

.user-profile__header
    margin-bottom: 2.93rem

.user-profile__content
    display: flex
    justify-content: flex-start
    flex-wrap: wrap

.user-profile__profile
    display: flex
    margin: 1.3rem 3.2rem 0rem

.profile
    width: 32rem
    height: 11rem
    &:before
        position: absolute
        content: ""
        top: 5rem
        left: -6px
        background-color: $lightGray
        width: 1rem
        height: 1rem
        border-radius: 5px
        transform: rotate(45deg)

.profile__photo
    width: 11rem
    height: 11rem
    border-radius: 50%
    border: 0.5rem solid $lightGray
    background-color: $lightGray
    object-fit: cover

.description
    display: flex
    flex-wrap: wrap
    align-content: center
    justify-content: center
    width: 19rem
    height: 100%
    background-color: $lightGray
    border-radius: 10px
    color: $darkGray

.profile__description
    position: relative
    margin-left: 1.4rem

@keyframes hover-text
    0%
        color: $darkGray
    100%
        color: $orange

.description__name
    font-size: 2.18rem
    text-transform: capitalize
    cursor: default
    &:hover
        @include hover-colorize-text

.description__position
    font-size: 1.3rem
    text-transform: uppercase
    cursor: default
    &:hover
        @include hover-colorize-text

.description__links
    margin-top: 1.6rem

.links
    display: flex
    justify-content: center
    width: 100%

.links__link
    display: flex
    justify-content: center
    width: 3rem
    height: 2.8rem
    margin: 0 1rem

@keyframes hover-picture
    0%
        filter: grayscale(100%)
    100%
        filter: grayscale(0%)

.links__img_offline
    filter: grayscale(100%)
    &:hover
        @include hover-colorize-picture

// в шаблоне была только оранжевая птичка, поэтому
// как отобразить состояние наведения у ссылок, не придумал