.UI-block.arrow-buttons
    .UI-block__header.arrow-buttons__header Arrow buttons
    .UI-block__content
        .UI-block__grp
            button.arrow-buttons__button.arrow-buttons__button_bordered
                .arrow-buttons__arrow
            button.arrow-buttons__button.arrow-buttons__button_bordered
                .arrow-buttons__arrow
        .UI-block__grp
            button.arrow-buttons__button.arrow-buttons__button_disabled
                .arrow-buttons__arrow
            button.arrow-buttons__button.arrow-buttons__button_disabled
                .arrow-buttons__arrow
        .UI-block__grp
            button.arrow-buttons__button
                .arrow-buttons__arrow
            button.arrow-buttons__button
                .arrow-buttons__arrow