.UI-block.form-elements
    .UI-block__header.form-elements__header Form elements
    .UI-block__content.form-elements__content
        .form-elements__grp.text-elems
            form(action="#").form
                .form__element
                    input(type="text" data-rule="required name" name="name" placeholder="Your Name")
                    .form__indicator
                .form__element
                    input(type="text" data-rule="required email" name="e-mail" placeholder="Your E-mail")
                    .form__indicator
                .form__element.message
                    textarea(name="message" placeholder="Your Message").message__area
                button(type="submit" name="submit").button.button_big.button_green.button_shadowed Submit
        .form-elements__grp.two-condition-elems
            .toogles
                .UI-block__header.two-condition-elems__header Toogles
                .UI-block__content
                    label.two-condition-elems__container
                        input(type="checkbox" name="#" value="yes")
                        .toogle
                    label.two-condition-elems__container
                        input(type="checkbox" name="#" value="yes")
                        .toogle
            .tick-boxes
                .UI-block__header.two-condition-elems__header Tick-boxes
                .UI-block__content
                    label.two-condition-elems__container
                        input(type="checkbox" name="#" value="yes")
                        .tick-box
                    label.two-condition-elems__container
                        input(type="checkbox" name="#" value="yes")
                        .tick-box

