.UI-block.form-elements
    .UI-block__header.form-elements__header Form elements
    .UI-block__content.form-elements__content
        .form-elements__grp.text-elems
        .form-elements__grp.two-condition-elems
            .toogles
                .UI-block__header.two-condition-elems__header Toogles
                .UI-block__content
                    label.two-condition-elems__container
                        input(type="checkbox" name="accept" value="yes")
                        .toogle
                    label.two-condition-elems__container
                        input(type="checkbox" name="accept" value="yes")
                        .toogle
            .tick-boxes
                .UI-block__header.two-condition-elems__header Tick-boxes
                .UI-block__content
                    label.two-condition-elems__container
                        input(type="checkbox" name="accept" value="yes")
                        .tick-box
                    label.two-condition-elems__container
                        input(type="checkbox" name="accept" value="yes")
                        .tick-box

