.UI-block.pie-chart
    .UI-block__header.pie-chart__header percentages / pie chart
    .UI-block__content
        .UI-block__grp
            canvas.pie-chart__percentages
            canvas.pie-chart__percentages
            canvas.pie-chart__percentages
            canvas.pie-chart__percentages
            .pie-chart__doughnut