.UI-block.UI-block_half-width.search-and-drop-down
    .UI-block__header.search-and-drop-down__header search/drop down
    .UI-block__content.search-and-drop-down__content
        form(action="#").form
            .form__element
                input(type="text" name="search" placeholder="search")
