.UI-block.sliders
    .UI-block__header.sliders__header sliders
    .UI-block__content.sliders__content
        .sliders__elems
            .sliders__pointer#pointer
            input(type="range" min="0" max="100" value="0")#slider_valued.sliders__slider.sliders__slider_color-orange
        .sliders__elems
            input(type="range" min="0" max="100" value="0")#slider_tracked.sliders__slider.sliders__slider_color-green
            .sliders__scale.scale
                -
                    var points = ["0", "25", "50","75", "100"]
                each point in points
                    div.scale__point= point