.UI-block.standard-buttons
    .UI-block__header.standard-buttons__header Standard buttons
    .UI-block__content
        .UI-block__grp.standard-buttons__grp
            button.standard-buttons__button.button.button_green Button
            button.standard-buttons__button.button.button_green.button_big Button
            button.standard-buttons__button.button.button_green.button_shadowed Button
            button.standard-buttons__button.button.button_green.button_shadowed.button_big Button
            button.standard-buttons__button.button.button_white-green Button
            button.standard-buttons__button.button.button_white-green.button_big Button
        .UI-block__grp.standard-buttons__grp
            button.standard-buttons__button.button.button_orange Button
            button.standard-buttons__button.button.button_orange.button_big Button
            button.standard-buttons__button.button.button_orange.button_shadowed Button
            button.standard-buttons__button.button.button_orange.button_shadowed.button_big Button
            button.standard-buttons__button.button.button_white-orange Button
            button.standard-buttons__button.button.button_white-orange.button_big Button