.UI-block.UI-block_half-width.user-profile
    .UI-block__header.user-profile__header user profile
    .UI-block__content.user-profile__content
        .user-profile__profile
            img(src="/assets/img/developer_one.jpg" alt="profile photo").photo
            .description
        .user-profile__profile
            img(src="/assets/img/developer_two.jpg" alt="profile photo").photo
            .description
