.UI-block.UI-block_half-width.user-profile
    .UI-block__header.user-profile__header user profile
    .UI-block__content.user-profile__content
        .user-profile__profile.profile
            img(src="/assets/img/developer_one.jpg" alt="profile photo").profile__photo
            .description.profile__description
                .description__name mark zuckerberg
                .description__position ux designer
                .description__links.links
                    a(href="https://ru-ru.facebook.com/zuck" target="_blank").links__link
                        img(src="/assets/img/icon-facebook.png" alt="facebock-icon")
                    a(href="https://twitter.com/finkd" target="_blank").links__link
                        img(src="/assets/img/icon-twitter.png" alt="twitter-icon").twitter
                    a(href="#" target="_blank").links__link
                        img(src="/assets/img/icon-basketball.png" alt="basketball-icon")
        .user-profile__profile.profile
            img(src="/assets/img/developer_two.jpg" alt="profile photo").profile__photo
            .description.profile__description
                .description__name bill gates
                .description__position back-end developer
                .description__links.links
                    a(href="https://ru-ru.facebook.com/BillGates/" target="_blank").links__link
                        img(src="/assets/img/icon-facebook.png" alt="facebock-icon")
                    a(href="https://twitter.com/billgates" target="_blank").links__link
                        img(src="/assets/img/icon-twitter.png" alt="twitter-icon").twitter
                    a(href="#" target="_blank").links__link
                        img(src="/assets/img/icon-basketball.png" alt="basketball-icon")
