//-
    all classes in this file are described
    in sass/general.sass
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        .container
            include ./PugFiles/standard-buttons
            include ./PugFiles/arrow-buttons
            include ./PugFiles/pie-chart_and_percentages
            include ./PugFiles/sliders
            include ./PugFiles/stages
            include ./PugFiles/form-elements
            .container_half-width
                include ./PugFiles/search-and-drop-down
                include ./PugFiles/user-profile